*{
  box-sizing: border-box;
}

body{
  margin: 0 !important;
  padding: 0 !important;
}

/* Start navbar */
.navbar-nav li a,
.navbar-brand{
  cursor: pointer;
}

/* End navbar */

/* Start order List*/
@media screen and (max-width: 992px) {
  .orderList{
    display: none;
  }
}

/* Finish order List*/

/* Start Main Page */
.page{
  padding-top: 85px;
  padding-bottom: 40px;
}

.mainPage{
  position: relative;
}

.mainPage .header{
  width: 96%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 30px;
  border-radius: 10px;
  margin-bottom: 24px;
  margin-left: 18px;
}

.mainPage .header h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(248, 0, 0, 0.64);
  font-family: cursive;
}

.mainPage .header p{
  font-size: 22px;
  color: #717171;
}

.mainPage ul{
  list-style: none;
  margin-left: -40px;
}

.mainPage ul img{
  max-height: 175px !important;
}

.mainPage .price{
  background-color: rgba(8, 109, 13, 0.61);
  padding: 6px 19px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 17px;
  color: rgb(255, 255, 255);
}

.mainPage h3{
  color: #aaa;
  font-weight: bold;
}

.mainPage input[type=number]{
  margin-bottom: 10px;
}

.mainPage .thumbnail{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderedItems{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderedItems ul li{
  border: 1px solid #aaa;
  padding: 5px 10px;
  margin: 10px 5px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderedItems ul li h4{
  color: rgba(248, 0, 0, 0.64);
  font-weight: bold;
}

.orderedItems ul li p{
  margin-bottom: 2px;
}

.orderedItems .buyNow{
  margin: 10px 20px;
  padding: 10px;
}

.orderedItems .buyNow button{
  margin-top: 8px;
}
/* End Main Page*/
